<footer
  style="
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: #01101E;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 0;
  "
>
  <div
    style="
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 90%;
      max-width: 1200px;
    "
  >
    <div
      style="
        display: flex;
        justify-content: center;
        align-items: center;
        height: 40px;
        width: 25%;
        border-right: 1px solid #555;
      "
    >
      <a
        href="#"
        style="
          display: flex;
          justify-content: center;
          align-items: center;
          height: 100%;
          width: 100%;
          color: #fff;
          text-decoration: none;
          font-size: 16px;
        "
        >About Us</a
      >
    </div>
    <div
      style="
        display: flex;
        justify-content: center;
        align-items: center;
        height: 40px;
        width: 25%;
        border-right: 1px solid #555;
      "
    >
      <a
        href="#"
        style="
          display: flex;
          justify-content: center;
          align-items: center;
          height: 100%;
          width: 100%;
          color: #fff;
          text-decoration: none;
          font-size: 16px;
        "
        >Contact Us</a
      >
    </div>
    <div
      style="
        display: flex;
        justify-content: center;
        align-items: center;
        height: 40px;
        width: 25%;
        border-right: 1px solid #555;
      "
    >
      <a
        href="#"
        style="
          display: flex;
          justify-content: center;
          align-items: center;
          height: 100%;
          width: 100%;
          color: #fff;
          text-decoration: none;
          font-size: 16px;
        "
        >Privacy Policy</a
      >
    </div>
    <div
      style="
        display: flex;
        justify-content: center;
        align-items: center;
        height: 40px;
        width: 25%;
      "
    >
      <a
        href="#"
        style="
          display: flex;
          justify-content: center;
          align-items: center;
          height: 100%;
          width: 100%;
          color: #fff;
          text-decoration: none;
          font-size: 16px;
        "
        >Terms of Service</a
      >
    </div>
  </div>
</footer>
